.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  .separator {
    width: 3px;
    height: 200px;
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
  }

  .questionsList {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}