.main {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  .response {
    text-align: center;
    min-width: 100px;
    padding: 5px 10px;
    box-shadow: var(--shadow);
    border-radius: 25px;

    &:hover {
      :first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      :last-child {
        display:none;
      }
    }

    :first-child {
      display: none;
    }
  }
}