.navbar {
    padding: 12px 30px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: var(--shadow);
}

.left button {
    font-size: 17px;
}

.center a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    gap: 0;
}

.center {
    font-size: 100px;
}

.center img {
    height: 50px;
}

.right {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 7px;
}

.right a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    gap: 5px;
    color: var(--black);
}

.right a p {
    display: flex;
}

.adminIcon {
    animation: spin 3s linear infinite;
}

.verticalSeparator {
    height: 15px;
    width: 2px;
    border-radius: 20px;
    background-color: var(--light-gray);
}

.littleLogoName {
    display: none;
}

@media screen and (max-width: 650px) {
    .right a p {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .littleLogoName {
        display: block;
    }

    .bigLogoName {
        display: none;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}