# Fichiers de log
*.log
logs
*.logs
npm-debug.log*

# Dossier node_modules
node_modules
jspm_packages

# Dossiers de build et de compilation
build
dist
.tmp
.temp

# Répertoires de cache
.cache
.pnpm-store
.next
.nuxt
.vuepress

# Fichiers de configuration et dossiers spécifiques à l'environnement de développement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dockerignore
.git
.gitignore
.DS_Store
.npmrc
.yarnrc
.sass-cache

# Fichiers spécifiques à l'éditeur
.editorconfig
.idea
.vscode

# Autres fichiers et dossiers qui ne sont pas nécessaires dans l'image de production
README.md
LICENSE
.dockerignore
*.md
*.lock
Dockerfile
docker-compose*.yml
*.sample
__mocks__
__tests__
tests
*.test.js
*.spec.js
coverage
*.config.js
