.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}

.fileListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.noFileText {
    margin-top: 20px;
}

.linkStyle {
    text-decoration: none;
    color: var(--black);
}
.spaceList {
    width: 100%;
    text-align: center;
}

.icon {
    font-size: 40px;
}

.fileItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    border-radius: var(--border-radius);
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 10px 20px;
}

.actionButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
