.main {

  .content {

    padding: 50px 0;

    display: flex;
    flex-direction: column;
    gap: 50px;

    .bigHead {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 100px;
    }

    .atTheTop {

      padding: 0 100px;

      display: flex;
      flex-direction: column;
      gap: 8px;

      .atTheTopContainer {
        display: flex;
        justify-content: center;
        gap: 8px;
        height: 500px;

        overflow: hidden;

        .left, .right {

          flex: 1;

          .imgContainer {
            position: relative;

            width: 100%;
            height: 100%;

            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              transition: var(--transition);

              &:hover {
                transform: scale(1.1) rotate(1deg);
              }
            }

            .artistLink {

              position: absolute;
              bottom: 0;

              width: 100%;

              background: linear-gradient(180deg, rgba(23, 23, 23, 0.3) 0%, rgba(0, 0, 0, 1) 100%);

              padding: 15px 35px;

              display: flex;
              align-items: center;

              a {
                color: var(--white);
                font-size: 1.5rem;
                font-weight: 600;
              }
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .imgContainer {
            width: 100%;
            height: 50%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .allOfFameContainer {
      background-color: var(--black);
      padding: 25px;
      display: flex;
      gap: 30px;
      overflow-x: auto;
    }
  }
}

@media screen and (max-width: 630px) {
  .main {
    .content {
      .atTheTop {
        .atTheTopContainer {
          flex-direction: column;
          height: unset;
        }
      }
    }
  }
}