.artisteCard {
    height: 270px;
    width: 250px;
    border-radius:var(--border-radius);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--black);
    z-index: 100;
}

.imageContainer {
    position: relative;
    height: 130px;
}

.imageContainer img {
    height: 100%;
    width: 150px;
    object-fit: cover;
    border-radius:var(--border-radius);
}