.main {
  position: relative;

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.69);
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 40px 100px;

    border-radius: var(--border-radius);
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: 2;

    transform: translate(-50%, -50%);

    background-color: var(--white);


    h1 {
      font-size: 5rem;
      font-weight: 700;
      text-align: center;
      color: var(--black);
    }
  }
}