.amo {

    height: 350px;

    background: linear-gradient(5deg, rgba(0, 0, 0, 1) 0%, rgba(32, 32, 32, 1) 40%, rgba(44, 44, 44, 1) 64%, rgba(55, 55, 55, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-weight: bolder;
}