.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.right {
    padding: 20px;
    width: 80%;
}

.left {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    box-shadow: var(--shadow);
    width: 230px;
    height: 100%;
    color: var(--white);
}

.right {
    height: 100%;
}
