.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.right {
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 250px;
}

.left {

    height: 100vh;
    width: 250px;

    padding: 25px 0;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--white);
    background-color: var(--black);

    box-shadow: var(--shadow);

}

.right {
    height: 100%;
}
