.main {

  background-color: var(--white);
  box-shadow: var(--shadow);

  padding: 50px 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;

  .artist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .section {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
  }
}

