.main {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  box-shadow: var(--shadow);

  padding: 15px;

  border-radius: var(--border-radius);

  .buttonsSpace {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;

    button {
      width: 45px;
      height: 45px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      transition: var(--transition);

      &:hover {
        cursor: pointer;

        transform: scale(1.1);
      }
    }

    & button:nth-child(1) {
      background-color: var(--white);
      box-shadow: var(--shadow);
    }

    & button:nth-child(2) {
      background-color: red;
      color: var(--white);
      box-shadow: var(--shadow);
    }
  }
}