.picto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;

    background-color: var(--white);
    box-shadow: var(--shadow);

    padding: 80px 50px;

}