.pictoItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.pictoItem h6 {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
}

.pictoItem:hover .icon {
    transform: scale(1.1);
}

.icon {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    border-radius: 100%;

    padding: 15px;

    background: var(--white);

    color: var(--white);

    transition: var(--transition);

    border: 2px solid var(--black);

    box-shadow: var(--shadow);
}