.pictoItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.pictoItem:hover .icon {
    transform: rotate(360deg);
}

.icon {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    border-radius: 100%;

    padding: 15px;

    background: var(--gradient-black);

    color: var(--white);

    transition: var(--transition);
}