* {

    font-family: 'Inter', sans-serif;

    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    background: none;

    --black: #070707;
    --white: #f3f3f3;

    --shadow: 0 0 10px rgba(0, 0, 0, 0.23);

}

h6 {
    font-size: 14px;
}

h5 {
    font-size: 15px;
}

h4 {
    font-size: 18px;
}

h3 {
    font-size: 23px;
}

h2 {
    font-size: 29px;
}

h1 {
    font-size: 36px;
}