* {

    font-family: 'Inter', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    background: none;

    --black: #070707;
    --white: #f3f3f3;

    --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    --border-radius: 6px;
    --transition: all 0.3s ease-in-out;

}

h6 {
    font-size: 14px;
}

h5 {
    font-size: 15px;
}

h4 {
    font-size: 18px;
}

h3 {
    font-size: 23px;
}

h2 {
    font-size: 29px;
}

h1 {
    font-size: 36px;
}

.spin {
    animation: spinLoad 1.5s linear infinite;
}

.littleSpin {
    font-size: 18px;
}

.bigSpin {
    font-size: 36px;
}

@keyframes spinLoad {
    to {
        transform: rotate(1turn);
    }
}