.main {

  --section-padding: 0 100px;

  max-width: 100vw;
  overflow-x: hidden;

  .content {
    padding: 80px 0;

    display: flex;
    flex-direction: column;
    gap: 100px;

    .headSection {
      display: flex;
      flex-direction: row;
      gap: 20px;

      align-items: center;

      padding: var(--section-padding);

      .carouselContainer {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        flex: 3;
      }

      .info {
        flex: 1;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        height: fit-content;

        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        padding: 25px;

        .head {
          display: flex;
          justify-content: center;
          gap: 8px;
          height: fit-content;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--red);
            font-size: 20px;
            transition: var(--transition);

            svg:nth-child(2) {
              display: none;
            }


            &:hover {
              svg:nth-child(1) {
                display: none;
              }

              svg:nth-child(2) {
                display: block;
              }

              transform: rotate(15deg) scale(1.1);
            }
          }
        }

        .shareContainer {

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;

          p {
            color: var(--black);
          }

          a {
            color: var(--black);
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-radius: 50%;
            background-color: var(--white);
            box-shadow: var(--shadow);
            transition: var(--transition);

            &:hover {
              transform: scale(1.1);
            }
          }

          div {
            display: flex;
            gap: 20px;
          }
        }
      }
    }

    .featuresSection {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 50px;
      flex-wrap: wrap;

      background-color: var(--white);

      box-shadow: var(--shadow);

      padding: 80px 0;

      .featuresSectionContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }

    .mockupSection {

      padding: 80px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      background: var(--gradient-black);

      color: var(--white);

      .mockups {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @media screen and (max-width: 1640px) {
          gap: 20px;

        }

        .imgContainer {
          width: 500px;
          height: 300px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: var(--shadow);
            transition: var(--transition);
            border-radius: var(--border-radius);
          }

          @media screen and (max-width: 1640px) {
            width: 450px;
            height: 250px;
          }
          @media screen and (max-width: 1485px) {
            width: 400px;
            height: 200px;
          }
          @media screen and (max-width: 1270px) {
            width: 350px;
            height: 150px;
          }
        }
      }

    }

    .oeuvreMemeStyleSection {
      padding: var(--section-padding);

      display: flex;
      flex-direction: column;
      justify-content: center;
        align-items: center;
      gap: 25px;
    }

    .autreOeuvreArtiste {
      padding: var(--section-padding);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
    }

    .artistSection {

      background: var(--gradient-black);

      padding: 75px 100px;

      .artistContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        padding: 25px;

        .showMore {
          margin-top: 15px;
          display: flex;
          justify-content: flex-end;

          button {
            cursor: pointer;
            border: 2px solid var(--black);
            padding: 5px 15px;
            border-radius: 20px;
            background-color: var(--white);
            color: var(--black);
            transition: var(--transition);

            &:hover {
              background-color: var(--black);
              color: var(--white);
            }
          }
        }

        .left {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;
          align-items: center;

          .imgContainer {
            width: 200px;
            height: 200px;
            position: relative;

            .flag {
              position: absolute;
              bottom: 10px;
              right: 0;
              width: 45px;
              height: 45px;
              z-index: 1;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: var(--white);
                box-shadow: var(--shadow);
                padding: 2px;
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
              box-shadow: var(--shadow);
            }
          }
        }
      }
    }
  }
}