.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.required {
    cursor: pointer;
    color: var(--red);
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: var(--shadow);
    height: 40px;
    padding: 15px;
    border-radius: var(--border-radius);
    width: 200px;
}