.main {

  padding: 15px;

  border-radius: var(--border-radius);

  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);

  animation: pulse 3s infinite ease-in-out;

  transition: var(--transition);

  &:hover {
    transform: scale(1.05);
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: relative;


    p {
      font-size: 18px;
    }

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      font-size: 25px;

      transition: var(--transition);
    }

    .open {
      svg {
        transform: rotate(90deg);
      }
    }

    .close {
      svg {
        transform: rotate(0);
      }
    }
  }

  .content {

    transition: var(--transition);

    padding: 25px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white);

    color: var(--black);

    &.close {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      padding: 0;
    }

    &.open {
      max-height: 1000px;
      opacity: 1;
      visibility: visible;
    }

    p {
      font-size: 25px;
      font-weight: 600;
    }

    .buyContainer {
      padding: 15px 0;

      display: flex;
      align-items: center;
      gap: 10px;

      .bailArt {
        background-color: var(--white);
        color: var(--black);

        padding: 10px 20px;

        border: 2px solid var(--black);

        position: relative;

        border-radius: var(--border-radius);
        width: 100%;

        z-index: 1;

        &:hover {
          color: var(--white);

          &::before {
            height: 100%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: var(--black);
          transition: height 0.3s;
          z-index: -1;
        }
      }
    }
  }
}

@keyframes shine {
  0% {
    color: var(--light-gray);
    transform: scale(1);
  }
  100% {
    color: var(--black);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}