.mentra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: fit-content;
    text-align: center;
    padding: 40px 0;
}

.mentra h3 {
    width: 70vw;
}