.rows {
  height: 500px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 25px;

  padding: 10px 5px;

  .proHead {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    text-transform: uppercase;

    font-size: 0.8rem;

    color: var(--black);

    .line {
      height: 3px;
      width: 30px;
      background-color: var(--light-gray);
      border-radius: var(--border-radius);
    }
  }
}

.button {

  padding: 10px 25px;

  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .label {
      font-size: 1.1rem;
    }

    .inactiveLabel {
      color: var(--light-gray);
    }

    .activeLabel {
      color: var(--black);
    }

    .switch {
      background-color: var(--light-gray);

      border-radius: var(--border-radius);

      width: 30px;
      height: 12px;

      position: relative;

      .switchIcon {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: var(--black);
        position: absolute;
      }

      .disable {
        left: 0;
      }

      .enable {
        right: 0;
      }
    }
  }
}